body {
    background: rgb(226, 218, 164);
    color: rgb(0, 0, 0);
    text-align: center;
}

.Principal {
    background: rgb(255, 255, 255);
    padding: 100px;
    margin: 20px;
}
.Segunda {
    background-color: rgb(42, 70, 140);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 20px;

}
.Tercera {
    background-color: rgb(51, 142, 105);
    text-align: center;
    padding-left: 50px;
    padding-right: 100px;
    padding-top: 25px;
    padding-bottom: 200px;
    margin: 20px;

    
    

}